@use "./../../abstract/abstract" as *;

.gamemodal {
    display: none;
    @include absCenter;
    opacity: 0;
    border-radius: .5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2),
        2px 2px 12px rgba(0, 0, 0, .8);
    color: hsl(36, 100%, 15%);
    background-color: var(--color-background-2);
    padding: 1.8rem;
    z-index: 2003;

    &.result,
    &.result-won,
    &.result-lost,
    &.result-draw {
        display: block;
        animation: fade-93 .25s 2.1s forwards;
    }
    
    &.mcardresult {
        width: 32rem;
        height: 14.7rem;
        border-radius: 1.5rem;

        output {
            font-weight: bold;
        }
    }
    
}

.gameresult {
    [class^="gameresult_label"] {
        display: none;
    }

    &.result-won {
        .gameresult_label-won {
            display: block;
        }
    }
    &.result-lost {
        .gameresult_label-lost {
            display: block;
        }
    }
    &.result-draw {
        .gameresult_label-draw {
            display: block;
        }
    }
}
