/* Navbar */

/* .navbar-peach {
    //border: 1px solid #80b9f2;
    border-radius: 5px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .2);
} */

.navbar-peach {
    > div {
        display: flex;
        align-items: center;
    }

    img {
        height: 2.8em;
    }
}

.leftheader {
    //text-align: left;
}

.navbar-brand {
    display: inline;
    white-space: normal;
    margin-bottom: 0;
    padding-top: .3rem;
    padding-left: .3rem;
    word-break: break-all;
    color: hsl(40deg 3% 87%);
    font-family: 'Yatra One', cursive;
    font-weight: 700;
    text-shadow: hsl(203deg 11% 18% / 50%) 0 0 1px,
        hsl(203deg 11% 38%) 2px 1px 1px,
        hsl(203deg 11% 38%) 4px 2px 1px,
        hsl(203deg 11% 38%) 6px 3px 1px,
        hsl(203deg 11% 38%) 8px 4px 1px,
        hsl(203deg 11% 8%) 8px 4px 2px,
        rgb(0 0 0 / 100%) 8px 4px 12px;

    &::first-letter {
        font-size: 1.4em;
        letter-spacing: 2px;
    }

    &:hover {
        color: hsl(40deg 3% 96%);
        text-decoration: none;
    }

}