# dependencies
node_modules
lib

# Compiled source
src/*.css
src/*.css.map
src/*.js
src/temp
dist

# images
img/*.jpg
img/*.jpeg
img/*.png
img/celebs/*.jpg
img/celebs/*.png

# misc
kuka/
olds/
package-lock.json
