@use "./../abstract/bs_mixins/bs_form_variables" as bfv;

:root {
    --color-background-1: #ffe9d0;
    --color-background-2: #ffe9c0;

    // Mcard
    --mcard-net-width: 7.1em;// 113.6px
    --mcard-img-height: 7.5em;// 120.0px
    --mcard-label-height: 2.75em;// 40px
    --mcard-pad: .3em;// 4.8px
    --mcard-gap: .7em;// 9.6px
    --mcard-pad-border-radius: .4em;// 6.4px
    /*calculations*/
    --mcard-width: calc(var(--mcard-net-width) + var(--mcard-pad) * 2 + 2px);
    --mcard-height: calc(var(--mcard-img-height)
        + var(--mcard-label-height)
        + var(--mcard-pad) * 2 + 3px);
    --mcard-border-radius: calc(var(--mcard-pad-border-radius) + var(--mcard-pad));

    --mcard-total-height: calc((var(--mcard-img-height) + var(--mcard-label-height) + var(--mcard-pad) * 2 + 2px) * 4
        + var(--mcard-gap) * 3);
    
    // Connect 4
    /*--c4_brick-width: 5.5em;
    --c4_brick-height: 5em;
    --c4_upper-gap-height: 6.5em;
    --c4_border-gap: .9em;*/
    --color-c4-board: rgb(0, 0, 162);

    //Morris
    --morris-web-elem: calc(var(--mcard-total-height) / 16);

    //Quarto
    --color-quarto-piece-light: coral;
    --color-quarto-piece-dark: brown;

    --quarto-ring: 46em;
    --quarto-spot: calc(var(--quarto-ring) * .17);
    --color-quarto-ring: rgb(212, 223, 114);

    --quarto-piece-ratio: .7;
    --quarto-piece-small-ratio: .7;
    --quarto-piece-square: calc(var(--quarto-spot) * var(--quarto-piece-ratio));
    --quarto-piece-round: calc(var(--quarto-piece-square) * 1.128);
    --quarto-piece-small-square: calc(var(--quarto-piece-square) * var(--quarto-piece-small-ratio));
    --quarto-piece-small-round: calc(var(--quarto-piece-round) * var(--quarto-piece-small-ratio));

}

:root, [data-bs-theme=light] {
    @include bfv.bs_form_variables
}
