@use "./../abstract/abstract" as *;

.gamesummary {
    max-width: 60em;
    margin: 0 auto;

    p {
        text-align: left;
    }

    h1 {
        font-size: 2em;
    }
}

.justforopt {
    display: none;
}

.gamecard {
    width: 64em;
    padding-top: 1em;
    margin: 2em auto;
    border: 1px solid #444;
    border-radius: 1.1em;
    box-shadow: .6em .6em 1em #ccc;
    cursor: pointer;

    &:nth-child(2n){
        & > div{
            flex-direction: row-reverse;
        }
    }

    &:hover {
        border-color: blue;
        box-shadow: .6em .6em 1em lightblue;
    }

    h2 {
        font-size: 2em;
    }
    /* The row of the gamedesk and the rules */
    & > div {
        display: flex;
        justify-content: space-between;

        & > div {
            margin: 2rem;

            /* The separator */
            &:nth-child(2) {
                width: 0px;
                margin: 2em .5em;
                border-left: 1px solid #444;
            }

            /* The rules */
            &:last-child {
                text-align: left;
            }
        }
    }

    .gamedesk {
        font-size: 40%;
        
        height: fit-content;
        width: fit-content;
        opacity: 1;
        //transform: scale(.5);
        
    }

    @include respond(tab-land){//<= 75em
        width: 55em;
    }

    @include respond(tab-port){//<= 56.25em
        width: 40em;

        & > div:nth-child(n) {
            flex-direction: column;
            align-items: center;

            & > div {
                &:nth-child(2) {
                    display: none;
                }
            }

        }
    }

    @include respond(phone){//<= 37.5em
        width: 36em;
    }

}