@use "./../abstract/abstract" as *;

/*Game*/
#gameField {
    //position: relative;
    // test border: 1px solid orange;
}

.game {
    &field {
        &_main {
            display: flex;
            flex-wrap: wrap;
            //test border: 2px solid goldenrod;
    
            & > div {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
    
                @include respond(small-or-port){
                    flex-direction: column;
                }
            }
        }
/*
        &.gf-show {
            .gamedesk {
                //font-size: 60%;
                
                height: fit-content;
                width: fit-content;
                opacity: 1;
                transform: scale(1);
                
            }
            
        }*/
    }

    &_label {
        display: inline-block;
        margin-bottom: 1rem;
        padding: .4rem 1rem;
        border-radius: toem(4.8);
        box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, .2);
    }

    &_row {
        display: flex;
        flex-wrap: wrap;
        //test border: 2px solid goldenrod;

        & > div {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;

            @include respond(small-or-port){
                flex-direction: column;
            }
        }
    }

    &desk {
        position: relative;
        display: inline-block;
        padding: .5em;
        //margin: toem(40);
        //height: 0;
        //width: 0;
        //opacity: 0;
        //transform: scale(0);
        border-radius: 1em;
        box-shadow: toem(1) toem(2) toem(5) grey;
        @if $development {
            //border: solid 2px darkblue;
        }

        & > div:first-of-type {
            //width: 100%;
            min-width: 68em;
            //margin: -10rem -15rem;

            @if $development {
                border: solid 2px yellow;
            }

            //transform: scale(.5);
        }

        &_board {
            //min-width: toem(480);
            //transform: scale(.5);
            @if $development {
                border: solid 2px cadetblue;
            }
        }

        &.gd-active {
            /*
            height: fit-content;
            width: fit-content;
            opacity: 1;
            transform: scale(1);

            & > div:first-of-type {
                margin: 0 0;
                transform: scale(1);
            }

            .gamedesk_board {

            }
            */
        }

    }

}

/*#gameBoard-main {
    padding: 20px;
}*/

/*Control board*/
#controlBoard {
    width: torem(100.8);
    margin: torem(48);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    /*justify-content: space-evenly;*/
    /*padding: 0px 10px;*/

    @include respond(small-or-port){
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        min-width: 28rem;
    }
}
